@using Site.Models.Entities
@{
    ViewData["Title"] = "Курс";
}
@model Course

<h2>@Model.Name</h2>

<div class="mb-3">
    <h4 class="form-label">Описание</h4>
    <p>@Model.Description</p>
  
</div>

<ul class="list-group mb-3">
    @foreach(var i in Model.Materials)
    {
        <li class="list-group-item">
            <div style="display:flex; justify-content:space-between; align-items:center">
                <a asp-controller='Material' asp-action="GetMaterial" asp-route-id="@i.Id">@i.Name</a>
            </div>
        </li>
    }
</ul>


